media/**
static/**
playground/**
locustfiles/**
sqlScripts/**
dbmodel.png
graph.md
imageupload.sh
*.md

__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.git
*.idea
*.vscode
*.env
*.venv
node_modules/
npm-debug.log
*.DS_Store
*.bak
*.swp
*.swo
*.class
*.jar
*.war
*.ear
*.zip
*.tar
*.gz
*.tar.gz
*.tgz
*.rar
*.xz
*.bz2
*.7z
*.exe
*.dll
*.obj
*.o
*.a
*.so
*.lib
*.sln
*.vsix
*.pubxml
*.appx
*.appxbundle
*.pdb
