<div style="font-size: 14px;">
<h2>{{ site_name }}</h2>

<p>Hi {{ user.username }},</p>

<p>We received a request to reset your password for your account. Click the link below to reset your password:</p>

<p><a href="{{ site_protocal }}://{{ site_domain }}{{ site_port }}/{{ path }}/{{ token }}">{{ site_protocal }}://{{ site_domain }}{{site_port}}/{{ path }}/{{ token }}</a></p>

<p>If you didn't request a password reset, you can safely ignore this email.</p>

<span>Best regards,</span><br>
<span>{{ site_name }} Team</span>
</div>