.logo {
  font-weight: 650;
  font-size: 23px;
  background-color: var(--ion-color-secondary);
  display:inline-block;
  background-size: 100%;
  // background-image: linear-gradient(to right, #00c6fb 0%, #005bea 100%);
  background-image: linear-gradient(to right, var(--ion-color-secondary-shade) 0%, var(--ion-color-primary-shade) 100%);
  background-clip: text;
  -webkit-background-clip: text; 
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

@media only screen and (max-width: 576px) {
  // For small screens
  .ios .logo {
    font-weight: 590;
  }
  .md .logo {
    font-size: 22px;
  }

  .note-card .note-msg {
		font-size: 14px !important;
    padding: 15px;
	}
  
  .feed {
    padding: 0px;

		.title {
			font-size: 17px;
		}
	}
}

ion-input.custom-input {
  border-radius: 4px;
  text-align: start !important;
  max-height: 38px;
  min-height: 38px !important;
  --highlight-color-focused: none;
  
  label {
    border: 1px solid var(--ion-color-step-300, #b3b3b3);
    padding-left: 16px !important;
    padding-right: 16px !important;
    border-radius: 4px !important;
  }

  label:hover {
    border-color: var(--ion-color-step-750, #404040);
  }

  &.has-focus label {
    border-color: var(--ion-color-primary);
    border-width: 2px;
  }

  &.error label {
    border-color: var(--ion-color-danger);
    border-width: 2px;
  }
}

ion-textarea.custom-textarea {
  border-radius: 4px;
  text-align: start !important;
  --highlight-color-focused: none;
  
  label {
    border: 1px solid var(--ion-color-step-300, #b3b3b3);
    padding-left: 16px !important;
    padding-right: 16px !important;
    border-radius: 4px !important;
  }

  label:hover {
    border-color: var(--ion-color-step-750, #404040);
  }

  &.has-focus label {
    border-color: var(--ion-color-primary);
    border-width: 2px;
  }
}

ion-select.custom-select {
  border-radius: 4px;
  max-height: 38px;
  min-height: 38px !important;
  --highlight-color-focused: none;

  border: 1px solid var(--ion-color-step-300, #b3b3b3);
  padding-left: 16px !important;
  padding-right: 16px !important;
  border-radius: 4px !important;

  &:hover {
    border-color: var(--ion-color-step-750, #404040);
  }

  &.select-expanded {
    border-color: var(--ion-color-primary);
    border-width: 2px;
  }
  
  &::part(container) {
    margin-top: -4px;
  }
}

.input-auth-button {
  width: 100%;
  border: 0px;
  background: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
  border-radius: 8px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  &:hover {
    opacity: 0.92;
  }
  &.disable-button {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }
}

.hover:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.auth-button {
  height: 34px;
  min-height: 32px;
  --border-radius: 8px;
}

.auth-header {
  font-size: 20px;
  font-weight: 580;
}

.auth-link {
  font-weight: 550;
}

.full-height {
  height: 100%;
}

.cpointer {
  cursor: pointer;
}

.cursor-disable {
  pointer-events: none;
  color: grey;
}

ion-button {
  text-transform: capitalize;
}

.padding-zero {
  padding: 0px !important;
}

.padding-col-zero ion-col {
  padding: 0px !important;
}

.margin-zero {
  margin: 0px
}

.mlr-auto {
  margin-left: auto;
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ion-icon-custom {
  font-size: 24px;
  color: var(--ion-color-dark);
}

.border-radius-std {
  border-radius: 15px;
}

.button-loading-small {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.two-line-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.close-icon {
  color: var(--ion-color-medium)
}

ion-modal {
  --backdrop-opacity: 0.8;
  // --border-radius: 5px;
  // overflow: auto;

  &::part(content) {
    overflow: auto;
  }
}

.line {
  border-bottom: 0.1px solid var(--line-color);
}

.line-top {
  border-top: 0.1px solid var(--line-color);
}

.cat-description {
  font-size: 13px;
  color: grey;
  height: 4.6ch;
  line-height: 2.3ch;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

ion-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
}

.note-card {
  box-shadow: none;
  color: var(--ion-color-dark);
  margin-left: 10px !important;
  margin-right: 10px !important;
  border: 0.1px solid var(--ion-color-light-shade);

  .note-msg {
    font-weight: 500;
  }
}

.background-contrast {
  background-color: var(--ion-color-dark-contrast);
  border-radius: 5px;
}

.float-right {
  float: right;
}

.input-error-text {
  font-size: 13px;
  padding-left: 5px;
  padding-top: 5px;
  color: var(--ion-color-danger);
}

.grecaptcha-badge { 
  visibility: hidden !important;
}

.privacy-terms {
  max-width: 1000px;
  margin: auto;
}

.text-bold {
  font-weight: 590;
}

ion-toolbar {
  --min-height: 50px;
}

.upload-camera-icon {
  position: relative;
  left: 58px;
  bottom: 25px;
  background-color: white;
  color: black;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  padding: 6px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
  border-radius: 10px;
  background-color: var(--ion-card-background);
}


.uploaded-filename {
  padding-top: 10px;
  font-size: 14px;
  color: var(--ion-color-medium-shade);
}

.grey-text {
  color: var(--ion-color-step-550, #737373);
}

#app-title-ani {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  text-align: center;
  opacity: 0; /* Start hidden */
}