ion-input.custom-input {
  border: 1px solid #dddfe2;
  border-radius: 6px;
  text-align: start !important;
}

ion-select.custom-select {
  border: 1px solid #dddfe2;
  border-radius: 6px;
  text-align: start !important;
  padding-right: 10px;
}

ion-input.custom-input:focus {
  border-color: #1b74e4;
  box-shadow: 0 0 0 2px #e7f3ff;
  caret-color: #1b74e4;
}

.full-height {
  height: 100%;
}

.cpointer {
  cursor: pointer;
}

ion-button {
  text-transform: capitalize;
}

.padding-zero {
  padding: 0px !important;
}

.padding-col-zero ion-col {
  padding: 0px !important;
}

.margin-zero {
  margin: 0px
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ion-icon-custom {
  font-size: 25px;
}